html {

  height:100%;
}

.half-circle {
    height: 14px;
    background: url('../img/shape.png');
    background-repeat: repeat-x;
}

.half-circle-down {
    height: 20px;
    background: url('../img/shape_down.jpg');
    background-repeat: repeat-x;
}

body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: transparent;
}

.header-image {
  width: 80px;
  font-size: 50px;
}

.header-text {
  font-size: 40px;
}

.header {
  padding-top: 3px;
  height: 25px;
  background-color: black;
  color: white;
}

.copyright {
  background-color: #424242;
}

.text-copyright {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar, .dropdown-menu{
  background:white;
  border: none;
}

.container-title {
  padding-left: 55%;
  padding-top: 25%;
  color: white;
}

.first-container {
  height: 900px;
}

.container-fluid {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-fluid-yellow {
  background-color: #F8D730;
  padding-top: 1px;
  padding-bottom: 1px;
}

.container-fluid-footer {
  background-color: #424242;
  padding-top: 1px;
  padding-bottom: 1px;
}


.container-dotted {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.panel-body {
  border: none;
  color: white;
  border-radius: 25px;
  margin-bottom: 20px;
}

.panel-box {
  border: none;
  border-radius: 15px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 8px #9AA1B7;
}

.panel-box-white {
  border: none;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  padding: 30px 50px 10px 50px;
  box-shadow: 1px 1px 10px #BDBDBD;
}

.comment-text {
  text-align: left;
}

.text-padding {
  padding-left: 8px;
  padding-right: 8px;
}

.img-facility {
  margin-top: 0px;
}

/* Make sure images don't get too big */
img {
  max-width: 100%;
}

/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.panel-yellow {
  background-color: #F8D730;
}

.panel-green {
  background-color: #85C55F;
}

.panel-red {
  background-color: #EE3A4E;
}

.panel-blue {
  background-color: #7ECCEB;
}

.welcome-gys {
  padding-top: 40px;
  padding-bottom: 80px;
}

.btn-circle {
  border-radius: 25px;
  border: none;
  background-color: #F8D730;
}

.horizontal-line {
  margin-top: 10px;
  width: 70px;
  border-top: 4px solid #F8D730;
}

.horizontal-line-left {
  margin-left: 0px;
  margin-top: 10px;
  width: 70px;
  border-top: 4px solid #F8D730;
}

.btn-black {
  border-radius: 25px;
  border: none;
  background-color: #424242;
  color: #F8D730;
  width: 200px;
}

.btn-black:hover {
  color: white;
}

.btn-submit {
  width: 100px;
  border-radius: 10px;
}

.btn-subscribe {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  background-color: white;
  color: #424242;
  border-radius: 20px;
}

.dotted-line {
  border-top: 1px dashed;
  width: 80%;
  color: grey;
}

.dotted-line-white {
  border-top: 1px dashed;
  width: 100%;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.img-responsive {
  width: 100%;
}

#name, #email, #subject {
  border: none;
  border-radius: 10px;
  background-color: #EFEFEF;
}

#message {
  border: none;
  border-radius: 10px;
  background-color: #EFEFEF;
  height: 100px;
  text-align:inherit;
}

.subscription-form {
  padding-left: 2%;
  padding-right: 2%;
}

.form-group>label {
  padding-left: 20px;
  text-align: left;
}

#subscription {
  border: none;
  border-radius: 20px;
  background-color: #EFEFEF;
  width: 100%;
}

footer {
  background-color: #424242;
}

.logo {
  padding-top: 15px;
}

.link-paddling {
  padding-left: 2%;
}

.footer-paddling {
  padding-top: 15px;
}

.nav>li>a{
  border-bottom: 4px solid transparent;
  padding-top: 32px;
  font-size: 14px;
}

.pull-right {
  float: right !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 4px solid transparent;
  font-size: 14px;
}

.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  border-bottom: 4px solid transparent;
  background: none;
}

.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle {
 color: black;
}

.navbar-toggle {
  padding-top: 20px;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow:none;
    color: black;
}
.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 4px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 4px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 4px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 4px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 4px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 4px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 4px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 4px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: black;
}

#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 0px;
  margin: 0 auto;
}


.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}

@media (max-width: 768px) {

  .nav>li>a{
    border-bottom: 0px solid transparent;
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  .nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    border-bottom: 4px solid transparent;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .pull-right {
    float: inherit !important;
  }

  body {
      background: url('../img/background.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      background-size: cover;
      background-color: transparent;
  }
}

@media (max-width: 992px) {

  .carousel-showmanymoveone .carousel-control {
    width: 0%;
    padding-top: 0px;
    background-image: none;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: 0px;
  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: 0px;
  }
}

@media all and (min-width: 768px) {

  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {


  .carousel-showmanymoveone .carousel-control {
    width: 3%;
    padding-top: 90px;
    background-image: none;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: -30px;
  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: -30px;
  }

  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -33.333%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 33.333%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(33.333%, 0, 0);
    transform: translate3d(33.333%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-33.333%, 0, 0);
    transform: translate3d(-33.333%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
